@charset "EUC-KR";

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centerMarginAuto {
	margin: auto;
}

.backImage {
	height: 100vh;
	background-image: url(../img/back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.leftbox {
	float: left;
}

.rightbox {
	float: right;
}

.area1 {
	height: 90vh;
}

.area2 {
	padding: 20px 10px 10px 20px;
	height: 90%;
}

.bottom {
	position: absolute;
	bottom: 0px;
	width : 80%;

}

.image-box {
	width : 100%;
	
}

.posting-box
{
	border: 2px solid black;
	border-radius: 10px;
	
}


*{
	font-family: 'Do Hyeon', sans-serif;
}


ul li {
	list-style-type: none;
	font-size: larger;
	line-height: 2em;
}

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');